ion-toolbar{
    --background: #000000;
}
ion-content{
    color: white;
    --background: #000000;
}
ion-input{
    color: white;
}

.bton{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    align-items: center;
}
ion-card-content {
    display: grid;
    justify-content: center;
    font-weight: 200;
    font-family: sans-serif;
    align-items: center;
}