<ion-content [fullscreen]="true">

  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo"></ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <img src="assets/arc.jpg" alt="" />

  <br/>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col><img src="assets/2.jpg" alt=""></ion-col>
    </ion-row>
  </ion-grid>

<ion-grid [fixed]="true">
    <ion-row>
      <ion-col><img src="assets/3.jpg" alt=""></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-title><img class="logo" src="assets/ARC.jpeg" alt=""></ion-card-title>
      <ion-card-subtitle><h1>O QUE É ARC</h1> </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="infor">
       <p>
        Uns dos maiores eventos automotivo do mundo 
       </p>
       <p>ARC é a única oportunidade de admirar carros únicos e exclusivos </p>
       <h3>O que você pode esperar da próxima edição?</h3>
       <p>um espectacular Drift Show de dois dias</p>
       <p>expositores de todo o mundo</p>
       <p>uma atmosfera única e impressões inesquecíveis</p>
      <br />
      <ion-button class="bton" color="red">INSCREVER</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
