<ion-content [fullscreen]="true">

  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo"><img src="assets/ARC.jpeg" alt=""></ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-card>
    
    <ion-card-header>
        <img class="fotoGT" alt="Silhouette of mountains" src="../../assets/redbull.jpeg" />
      <ion-item-sliding>
        <ion-item [button]="false" >
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="../../assets/381380739_3480280035579473_336924990523015089_n.jpg "/>
          </ion-avatar>
          <ion-label>greg ferreira</ion-label>
        </ion-item>
        <ion-item [button]="false">
            <img slot="start"  src="../../assets/instagram.png" alt="" class="insta">
          <ion-label>@gregferreirac</ion-label>
        </ion-item>
        <ion-item [button]="false">
            <img slot="start" src="../../assets/email2.png" alt="" class="email">
          <ion-label >gregferreira@gmail.com</ion-label>
        </ion-item>
      
      </ion-item-sliding>
        <ion-card-subtitle>Mycar</ion-card-subtitle>
        <ion-grid [fixed]="true">
          <ion-card-subtitle>LBWK GT-R</ion-card-subtitle>
          <ion-row>
            <ion-col><img src="assets/gtr1.jpg" alt=""></ion-col>
            <ion-col><img src="assets/gtr.jpg" alt=""></ion-col>
          </ion-row>
          <ion-card-subtitle>Lamborghini Huracan</ion-card-subtitle>
          <ion-row>
            <ion-col><img src="assets/LB.jpg" alt=""></ion-col>
            <ion-col><img src="assets/LB2.jpg" alt=""></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

    
  
  </ion-card>

</ion-content>