ion-toolbar{
    --background: #000000;
}
ion-card{
    --background:black;
}
ion-content{
    --background:black;
}
ion-item-sliding{
    --background:black;
}
ion-item{
    --background:black;
    color: white;
}
ion-card-subtitle{
    text-align: center;
}
.insta{
    width: 2rem;
    height: 2rem;
}

.email{
    width: 2rem;
    height: 2rem;
}